body{
    height: 100vh;
    display: grid;
    grid-template-rows: 20% 80%;
}

header{
    background-color: #38040e;
    color: white;
    width: 100%;
    height: 70%;
    align-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
}
header>p{
    font-size: 25px;
}

.container{
    width:80vh;
    display: flex;
    justify-self: center;
    flex-direction: column;
    align-items: center;
    margin-top: -25px;
}

.choices-div{
    justify-self: flex-start;
    width: 400px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.choice{
    height: 130px;
    width: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2px;
}
.choice>img{
    height: 120px;
    width:120px;
    border-radius: 60px;
}
.choice:hover{
    cursor: pointer;
    background-color:#333d29;
    border-radius: 50%;
}


.score-div{
    height: 90px;
    width: 40%;
    display: flex;
    flex-wrap: wrap;

}
.score-div>p{
    text-align: center;
    width: 50%;
    height: 2px;
    font-size: 20px;
}
#your-score,#com-score{
    font-size: 30px;
    font-weight: bold;
}

#select-btn{
    margin-top: 70px;
    background-color: #14213d;
    color: white;
    width: auto;
    height:auto;
    min-height: 40px;
    min-width: 160px;
    border-radius: 8px;
    border: none;
}

